

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Rosario', sans-serif;
	/*font-size: 1.5rem;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100vw;
	height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	outline:none;
	color: black;
}

input, textarea{
	box-sizing: border-box;
}

html{
	height: 101vh;
	overflow: hidden;
}

/*******************fin du reset********************/
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Rosario&display=swap');
/******************* taille body ********************/

#body
{
display:flex;
flex-direction: column;
justify-content: center;
width: 100vw;
height: 101vh;
/* font-family: 'Gentium Basic', serif; */
font-family: 'Rosario', sans-serif;


}

/*******************  header ********************/
header
{
position: absolute ;
top: 5%;
left: 5%;

}
img
{
width: 40%;
height: 40%;
}


/*******************  formulaire ********************/
.formulaire
{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows:  repeat(7,1fr);
	width: 25%;
	height:70vh;
	margin:auto;
	padding: 25px;
    background-color:#748cbb;
    border-color: gray;
    border: 1px solid #7565EB;
    border-radius: 7px;
	opacity: 0.8;
	font-family: 'Rosario', sans-serif;
	font-size: 1.3rem !important;
	line-height: 2.5;
	box-shadow: 3px -3px 3px #f2e079 
	;
}
.blur
{
	filter: blur(4px);
}
span
{
grid-column: 1/4;
grid-row: 1/2;
align-self: center;
justify-self: center;
color:black ;
font-weight:bold;
}


form
{
width: 100%;	
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows:  repeat(7,1fr);
grid-column: 1/4;
grid-row: 2/8;

}

.label-file
 {
cursor: pointer;
color: #f5bd07;
border: solid 1px  #f5bd07;;
margin: 15px 30px;
border-radius: 5px;
padding: 0 20px;

}

.labels
{
grid-column: 1/4;
grid-row:1/2;
display :flex;
justify-content: center;
}


.label-file:hover {
color: #887e09;
border: solid 1px #887e09;
}

/* champs a remplir par user*/

#champs
{
grid-column: 1/4;
grid-row: 2/6 ;
font-size: 1.1rem;
font-weight: bold;
color: #f5bd07; 
width:80%;
justify-self: center;
position: relative;
top: 10%;
}

#destinataire,#expediteur,#mail_info
{
line-height: 2;
}

#destinataire input, #expediteur input, textarea
{
width: 100%;
justify-self: center;

border:none;
box-shadow: 2px 2px 10px #3833ce ;
}


.input_content
{
	width: 57%;
	height: 7%;
	text-align: center;
	background-color: #dbdfe6;
}

textarea
{
resize: none;
height: 10vh;
background-color: #dbdfe6;
}

.transfer__button 
{
grid-column:2/3;
grid-row: 8/8;
font-size: 1.1rem !important;
font-family: 'Rosario', sans-serif;
border-radius: 5px ;
border : none;
background: linear-gradient( to bottom left, #3833ce,#739cee  );
border: 1px #3833ce;
box-shadow: 1px 1px 5px #3833ce;
padding:  0 20%;
text-align:center;
justify-self: center;
align-self: center;
}


.input-file {
    display: none;
}

.download
{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows:  repeat(2,1fr);
	width: 25%;
	height:35vh;
	margin:auto;
	padding: 40px;
    background-color:#748cbb;
    border-color: gray;
    border: 1px solid #7565EB;
    border-radius: 7px;
	opacity: 0.91;
	font-family: 'Rosario', sans-serif;
	font-size: 1.3rem !important;
	line-height: 2.5;
	box-shadow: 2px -2px 2px #f2e079 ;
}


.download__button 
{
grid-column:2/3;
grid-row: 2/3;
font-size: 1.1rem !important;
font-family: 'Rosario', sans-serif;
border-radius: 5px ;
background: linear-gradient( to bottom left, #3833ce,#739cee  );
border: 1px #3833ce;
box-shadow: 1px 1px 5px #3833ce;
padding:  0 20%;
text-align:center;
justify-self: center;
align-self: center;
}






/******************** liste des  dossiers prêts à l'envoi ***********************/
#list_files
{
	display: grid;
	grid-template-columns: repeat(3,1fr);
 	width: 25%;
	max-height : auto;
	margin:auto;
	padding: 25px;
	background-color:#748cbb;
    border: 1px solid #7565EB;
    border-radius: 7px;
	opacity: 0.8;
	font-family: 'Rosario', sans-serif;
	font-size: 1.3rem !important;
	line-height: 2.5;
	box-shadow: 3px -3px 3px #f2e079 ;	
	position: fixed;
	top:10%;
	right:5%;
}
	
.title_list
{
	display: grid;
	grid-column: 1/4;
	font-size: 1.3rem; 
	
}

#p
{	
	grid-column: 1/4;
	min-width: 100%;
	overflow:auto;
	max-height:65vh;
	color: #f6cb2d;
}

#p::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: none;
	border-radius: 10px;
}

#p::-webkit-scrollbar
{
	width: 3%;
	background-color: none;
}

#p::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #403e6d));
}
p
{
color: #f6cb2d;
}

#copyright
{
color: black;	
min-width: 100%;
font-size: 1.1rem;

}

/******************* footer ********************/
#footer{
	text-align: center;
	background:none;
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
	color:black !important;

	
}

.hide{
	display: none !important;
}

/******************** pop up ***********************/

#pop_form{
	display: block;
}
#mess_reussite, #mess_echec
{
position: absolute;
z-index: 200;
align-self: center;
width: 25%;
height :20%;
background-color:#748cbb;
border-radius:7px ;
box-shadow: 2px -2px 2px #f2e079 ;
display: flex;
align-items: center;
}
#mess_reussite > p, #mess_echec p
{
background: linear-gradient( to bottom left, #3833ce,#739cee  );
border: 1px #3833ce;
box-shadow: 1px 1px 5px #3833ce;
	text-align: center;
}
.fermer
{
background: linear-gradient( to bottom left, #3833ce,#739cee  );
border: 1px #3833ce;
box-shadow: 1px 1px 5px #3833ce;
position: absolute;
top:10% ;
right:5% ;
}

/*************************** nuage ******************************/

.nuage{
	background: url(../img/montagne_bleuesombre2.jpg) round no-repeat;
	background-size: cover;
	opacity: 80%;
	/* color:  #7faef5; */
}

#body{
	position: relative;
	z-index: 900;
}

/****************** version responsive*********************/
@media screen and (max-width: 959px){

header
{
	position: absolute;
	top: 10px;
	left: 0;
width: 100vw;
height: 15%;
display: flex;
justify-content: center;
align-content: center;
}
h1{
height: 90%;
width: 50%;
display: flex;
justify-content: center;
align-content: center;

}
img
{

height: 100%;
width: auto;
display: flex;

justify-content: center;
align-content: center;
}

.formulaire
{
position: relative;
min-width:65%;
height:75vh;
margin: 0 auto;
padding: 0 25px;
top: 5%;
}
.download
{
	min-width:65%;
	height:35vh;
	margin: 0 auto;
	padding: 0 25px;
	top: 30px;
	}



span
{
grid-column: 1/4 ;
grid-row: 1/1;
font-size: 1.2rem;
text-align: center;
}

.label-file
 {
height: 50%;
border-radius: 5px;
padding:0 10px;
font-size: 0.9rem;
 }
 .labels
 {

grid-column:1/4;
grid-row:1/1;

} 

 
#champs
{
	grid-column: 1/4;
	grid-row: 2/4;
	font-size: 1rem;
	color:#f2e079 ;
	width:80%;
	}

.input_content
{
width: 100%;
height: 20%;
margin:1%;
}
	
textarea
{
resize: none;
width: 100%;
height: 65%;
margin:0px;
}

.transfer__button 
{
grid-column:2/3;
grid-row: 6/7;
font-size: 1.1rem !important;
font-family: 'Rosario', sans-serif;
border-radius: 5px ;
border : none;
height:65% ;
background: linear-gradient( to bottom left, #3833ce,#739cee  );
border: 1px #3833ce;
box-shadow: 1px 1px 5px #3833ce;
padding:  0 20%;
}

.download__button
{
grid-column:2/3;
grid-row: 2/3;
font-size: 1.1rem !important;
font-family: 'Rosario', sans-serif;
border-radius: 5px ;

padding:  0 20%;
}



#list_files
{
	display: grid;
	grid-template-columns: repeat(3,1fr);
 	width:65%;
	max-height : auto;
	margin:auto;
	
    background-color:#282749;
    border-color: gray;
    border: 1px solid #282749;
    border-radius: 7px;
	opacity: 1;
	font-family: 'Rosario', sans-serif;
	font-size: 1.3rem !important;
	line-height: 2.5;
	box-shadow: 2px -2px 2px #f2e079 ;	
	/*position: fixed;*/
	top:50%;
}
#footer
{
height: 7%;
}

.hide_mobile
{
display: none !important;
}
#mess_reussite, #mess_echec
{
position: absolute;
align-self: center;
width: 80%;
height :30%;
}

#mess_reussite > p, #mess_echec p
{
line-height: 2rem;
}

.nuage{
	background: url(../img/montagne_bleuesombre2.jpg) round ;
	background-size: cover;
	opacity: 80%;
	/* color:  #7faef5; */
 

}
}